[
  %% SASL config
  {sasl, [
    {sasl_error_logger, {file, "log/sasl-error.log"}},
    {errlog_type, all},
    {error_logger_mf_dir, "log/sasl"},      % Log directory
    {error_logger_mf_maxbytes, 1024},
    {error_logger_mf_maxfiles, 10}
  ]},
  {eredis_cluster,
    [
      {init_nodes, [
        {"127.0.0.1", 30001},
        {"127.0.0.1", 30002}
      ]},
      {pool_size, 5},
      {pool_max_overflow, 100},
      {overflow_ttl, 5000},
      {overflow_check_period, 1000}
    ]
  },
  {seaconfig,
    [
      {etcd_url, "http://127.0.0.1:2379/v2/keys/config/?recursive=true"}
    ]
  }
].